body {
  background-image: url('https://i.pinimg.com/736x/60/0b/3a/600b3a36ecbad9e2e9ff86ed06da10ca.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50rem;
  font-family: sans-serif;
}
